body {
    color: #444;
    font-family: "Open Sans", sans-serif, sans-serif;
    background-color: #F3F0ED;
    font-weight: 300;
}

.anchor span {
    color:#444;
    line-height: 1.2em;
}

.markdown-section {
    letter-spacing: -0.02rem;
    line-height: 1.2rem;
    max-width: 800px;
    padding:40px;
    padding-top:64px;
}

.markdown-section a {
    color: #789;
    font-weight: 400;
    line-height: 1.2rem;
    text-decoration: none;
    text-decoration-color: rgba(0, 0, 0, 0.3);
}

.markdown-section a:hover {
    font-weight: 400;
    color: #789;
    text-decoration: underline;
    text-decoration-color:#789
}

.markdown-section h1 {
    font-weight: 400;
    font-size: 2.2em;

}

.markdown-section h2 {
    font-weight: 400;
    font-size: 1.9em;
 
}

.markdown-section h3 {
    font-weight: 400;
    font-size: 1.6em;
}

.markdown-section h4 {
    font-weight: 400;
    font-size: 1.3em;
    margin-bottom: -0.6em;
}

.markdown-section pre {
    line-height: 1.2rem;
}

.markdown-section blockquote {
    border-left: 3px solid #444;
    color: #999;
    font-family: "Open Sans", sans-serif, sans-serif;
}

.markdown-section blockquote p {
    font-weight: inherit;
}

.markdown-section table {
    font-weight: inherit;
    word-break: break-word;
    font-size: 0.85em;
    
}

.markdown-section td, .markdown-section th {
    border: 1px solid #F3F0ED;
    padding: 10px 10px;
}

.markdown-section code, .markdown-section pre {
    color:#444;
    font-family: monospace;
}
section tr:nth-child(2n) {
    background-color: #00000005;
}


.sidebar {
    border: 1px;
    padding:64px 48px;
    background-color: #F3F0ED;
    padding-right: 0px;
}

.sidebar ul li.active>a {
    color: #789;
    font-weight: 900;
    text-decoration: none;
}

.sidebar-toggle {
    background-color: #f3f0ede8;
    bottom: inherit;
    border-radius: 26px;
    margin: 10px;
    width: 52px;
    height: 52px;
    align-items: center;
    padding: 10px;
}

.sidebar-toggle span {
    background-color: #444;
}


body.close .sidebar-toggle {
    background-color: #f3f0ede8;
    width:52px;
    transition: background-color 1s;
}



/* MERMAID CUSTOM FLOW CHARTS */

.mermaid span.edgeLabel, .mermaid span>center {
    background-color: #f7f7f7 !important;
}

.mermaid g.node>rect {
    stroke: #9b9c9a !important;
    fill: #effff9 !important;
}

.mermaid g>foreignObject {
    color: #2d3e31;
}

.app-nav.no-badge {
    margin: 0px;
    /* margin-right: 25px; */
    padding-top: 48px;
    padding-left: 80px;
    padding-right:80px;
}

.app-nav a.active, .app-nav a:hover {
    color:#000;
    border:none;
    font-size:16px;

}

.sidebar-toggle-button {
    padding: 8px;
}
